.body {
	font-size: 16px;
	height: 100%;
	overflow: hidden;
}

.main {
	background: url("../img/darknoise.png");
	background-size: 100%;
	color:  #d3bb89;
	height: 100vh;
	overflow: hidden;
}

.logo {
	width: 50%;
	height: 100vh;
}

.logo__Stark {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container {
	display: flex;
	width: 100%;
	height: 100%;
}

.siginUp__btn, .registration__btn {
	background: #c19a49;
	color: #fef8eb;
	border: none;
	width: 400px;
	height: 45px;
	font-size: 1.5rem;
	transition-duration: 0.4s;
}

.siginUp__btn:hover, .registration__btn:hover {
	background: #d29c2a;
}

.siginUp__field, .registration__field {
	display: block;
	border-top: none;
	border-left: none;
	border-right:  none;
	width: 400px;
	height: 45px;
	margin-top: 0.1rem;
	border-color: #d3bb89;
	font-size: 1rem;
	color: #718093;
	background:  url("../img/darknoise.png")  no-repeat right top;
	background-color: transparent;
}

.siginUp__field:hover, .registration__field:hover {
	border-color: #d29c2a;
}

.registration__label, .siginUp__label{
	display: block;
	font-size: 1.2rem;
}

@font-face {
    font-family: Game of Thrones;
    src: url("../font/Game of Thrones.ttf");  
}

.title {
	font-family: Game of Thrones, sans-serif;
	font-size: 2rem;
	text-align: center;
	bottom: 0;
	margin-bottom: 2.5rem;
	position: relative;
	transition: 0.6s linear;
}

#email, #nameUser{
	margin-bottom: 1.2rem;
}

.registration__label-hint, .siginUp__label-hint {
	opacity: 0;
	color: white;
	font-size: 0.8rem;
	transition: 0.3s all;
}

.registration__field--desc {
	height: 3rem;
	margin-bottom: 3rem;
	resize: none;
	transition: 0.3s ease-out;
}

.registration__label--house {
	margin-top: 1rem;
}

.registration__label--desc {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.registration__field--desc:focus {
	font-size: 1.2rem;
	height: 7rem;
}

.registration__blockMessage {
	border-left: 2px solid #d3bb89; 
	color: white;
	font-size: 1rem;
	width: 273px;
	margin-bottom: 1.5rem;
	padding-left: 1rem; 
	transition: all 0.4s;
}

.wrp {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#houses {
	padding-right: 1.5rem;
  	-webkit-appearance: none;
 	-moz-appearance: none;
  	appearance: none;
	color: white;
	
} 

#houses option {
	background: #2d3436;
}

.siginUp__checkbox {
	display: block;
	cursor: pointer;
	margin-bottom: 1.5rem;
	margin-top: 1rem;
}

input[type="checkbox"] {
	display: none;
}

.siginUp__checkbox-box {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: #d3bb89;
	border-radius: 15%;
	transition-duration: 0.2s;
	position: relative;
}

.siginUp__checkbox-box:before {
	content: '\2714';
	position: absolute;
	color: black;
	bottom: -0.1rem;
	transform: scale(0);
	transition: 0.4s;
}

input[type="checkbox"]:checked + .siginUp__checkbox-box:before{
	transform: scale(1);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.registration {
	display: none;
}

.siginUp {
	
}

.siginUp__field:-webkit-autofill,
.siginUp__field:-webkit-autofill:hover,
.siginUp__field:-webkit-autofill:focus,
.siginUp__field:-webkit-autofill:active,
.registration__field:-webkit-autofill,
.registration__field:-webkit-autofill:hover,
.registration__field:-webkit-autofill:focus,
.registration__field:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
}